%h1
  %img{:alt => "about", :src => "../images/aboutUs.jpg"}/
%blockquote
  %p.style1 Welcome  to Step By Step Pediatrics!
  %p We are a private medical office offering preventive  and sick care to children from birth to adolescence and through college age. Each patient has  his/her own Pediatrician for health maintenance and children with long-term  medical conditions coordinate their care with one of the nurses. We emphasize  preventive health care including nutrition, bike & helmet safety, car seats  & seat belts, sports safety, growth & development, and vaccinations. We  enjoy watching our patients grow “Step by Step” from childhood through  adolescence!
  %p
    %a{:href => "stump.html"} Anne  J. Stump, MD, FAAP
    and
    %a{:href => "collings.html"} Chrissa Collings, MD, FAAP
    have practiced pediatric medicine  together for nearly 20 years.
    %a{:href => "santos.html"} Krista Santos, MD, FAAP
    joined our office more  recently. All 3 Pediatricians have completed 4 years of college education, 4  years of medical school, 3 years of pediatric residency and passed specialty  board exams to become Fellows of the American Academy of Pediatrics. We also  participate in continuing medical education to enhance our pediatric skills.
  %p We  are each members of the American Academy of Pediatrics, the IN Chapter of the  AAP, the IN State Medical Association, the Indianapolis Medical Society, and  Indiana Pediatrics. We are medical staff members at Clarian Health, Methodist  Hospital, Riley Children’s Hospital, St Vincents Children’s and Women’s  Hospitals, and Clarian West Hospital. We have pediatric coverage for our patients at local Hospitals (Clairan North, Hendricks County Hospital, and St. Francis).
  %p.style1 Biographies:
  %p
    %a{:href => "stump.html"} Anne  J. Stump, MD, FAAP
  %p
    %a{:href => "collings.html"} Chrissa Collings, MD, FAAP
  %p
    %a{:href => "santos.html"} Krista Santos, MD, FAAP
%p  