%br/
%br/
%img{:alt => "doctors", :src => "/images/collingsBio.jpg"}/
%blockquote
  %table{:border => "0", :width => "100%"}
    %tr
      %td{:style => "text-align: center; padding-left: 20px;"}
        %a.style2{:href => "stump.html"} Dr. Anne J. Stump
      %td{:style => "text-align: center; padding-left: 40px;"}
        %a.style2{:href => "santos.html"} Dr. Krista Santos
      %td{:style => "text-align: center;"}
        %a.style2{:href => "collings.html"} Dr. Chrissa Collings
  %p
    %span.style1 Dr. Collings' Bio:
  %p My mother came up with the name Chrissa. (Now Chrissa is the American Girl doll of 2009!) I was raised in Danville, the older of 2. I’ve been to every state in the country, thanks to my parents. I participated in about everything in school from Girl Scouts to sports to Student Council to choir. My mother was a pediatric nurse and I babysat often and was a camp counselor for a few summers. It seemed natural for me to go into Pediatrics after attending Miami University and I.U. School of Medicine.                                                            
  %p I married Rick, a high school teacher 25 years ago during med school, then took him to Nashville, TN where I did my Pediatric training at Vanderbilt. We had our first son, Brian in Tennessee, but moved back to Indiana where we had grandparent support and I landed a job working with Dr. Stump! Mike came along soon. Both my boys are fine, young men. Mike is studying math education at Bradley University. Brian recently graduated from Rose-Hulman, married Lindsay (a pediatric nurse), and is working as a mechanical engineer here in Indianapolis. Rick has taught at Avon High School for the last 23 years. He has coached basketball for all of the years I’ve known him, but has just retired from coaching. He is focusing on improving his water skiing skills and my boat driving abilities.
  %p We will be empty nesters, except when Mike comes home with all his stuff, but will stay busy with our activities at Chapel Rock Christian Church, travel with missions and just for fun, and our family get-togethers. I have my 10th medical mission trip to Haiti with the H.E.A.L.T.H. team planned for February ’10. We also host an annual Croquet & Frisbee Golf tournament for dozens of our friends. I won the tournament 4 years ago, which is one of my greatest accomplishments ever. I love people, especially kids – of all ages. I’m proud of my own, and those I’ve watched grow up in my practice. I’m a scrap booker, like Dr. Stump. I’ve cut out pictures of my patients from newspapers for years. Now if I have free time, I’ll start a scrapbook of pictures for my office. I love what I do and just like I tell the kids, I never want to stop learning.
%p  