%h1
  %img{:alt => "contact", :src => "../images/contactUs2.jpg"}/
%blockquote
  %img{src: "images/scale.jpg", class: 'right-img'}
  %p When you call Step By Step Pediatrics at 317-328-6800, your  phone call is answered by our experienced pediatric nurses who assist you with  medical questions and consult with our Pediatricians. The nurses schedule ill  appointment for that same day. The nurses also refill current prescriptions,  manage daycare/sports/physical forms, assist you with medical referrals to  subspecialists, and precertify any special medical referrals.
  %p When you call 317-328-6802, your phone call is answered by  our medical receptionists who schedule sport physicals, well child exams,  chronic illness or medication appointments, vaccinations, new mother prenatal  visits, and new patient appointments.
  %p When you call 317-328-6803, your phone call is answered by  our business office personnel who can assist you with questions about your  health insurance, payment plans, or payments by phone.
  %p If you call Step By Step Pediatrics at 328-6800 after normal  office hours for acute medical situations, our phone recording will refer you  to our answering service at 317-631-3466. The Indianapolis Medical Society Exchange will  page our on-call Pediatrician who will then contact you directly by phone.  You must unblock your phone for the physician to return your call.
%h1.space-left  Phone Numbers
%blockquote
  %p
    %strong 317-328-6800
    %em Nurse  questions/precertifications
    %br/
    %strong 317-328-6802
    %em Receptionist/well  child exams and sports physicals
    %br/
    %strong 317-328-6803
    %em Business office
.gallery.space-left
  %img{src: 'images/gallery4.jpg'}
  %img{src: 'images/gallery5.jpg'}
  %img{src: 'images/gallery6.jpg'}