%h1
  %img{:alt => "hours", :src => "images/officeHours.jpg"}/
%p.leftBar
  %a{:href => "index.html"}
    %img{:alt => "office mission button", :border => "0", :height => "36", :src => "images/mission.gif", :width => "144"}/
  %a{:href => "hours.html"}
    %img{:alt => "office hours button", :border => "0", :height => "34", :src => "images/hours.gif", :width => "144"}/
  %a{:href => "location.html"}
    %img{:alt => "", :border => "0", :height => "34", :src => "images/location.gif", :width => "143"}/
%blockquote
  %img{src: "images/suit.jpg", class: 'right-img'}
  %p.style4 Step By Step Pediatrics is open every business day M - F  from 8:30 am until 4:30 pm.
  %p For parent convenience, we are also open during the  normal business lunch hour. Acutely ill patients are usually treated the same day that parents call the office. When the office is closed, a board-certified Pediatrician  is available for emergency calls through our answering service, the Indianapolis  Medical Society Exchange, at 317-631-3466.
  .clear