%h1
  %img{:alt => "Office Mission", :src => "images/header_mission.jpg"}/
%p.leftBar
  %a{:href => "index.html"}
    %img{:alt => "office mission button", :border => "0", :height => "36", :src => "images/mission.gif", :width => "144"}/
  %a{:href => "hours.html"}
    %img{:alt => "office hours button", :border => "0", :height => "34", :src => "images/hours.gif", :width => "144"}/
  %a{:href => "location.html"}
    %img{:alt => "", :border => "0", :height => "34", :src => "images/location.gif", :width => "143"}/
%blockquote
  %img{src: "images/shirt.jpg", class: 'right-img'}
  %p Step  By Step Pediatrics, LLC strives to provide excellent and personal medical care  to our pediatric patients in a clean, safe, and friendly environment. We treat  each of our families professionally while attempting to maintain the guidelines  set forth by the American   Academy of Pediatrics. We  also attempt to adhere to the guidelines of HCFA, CLIA, HIPAA, and numerous  health insurance plans. We respect the talents and contributions of each of our  dedicated employees and promote their individual safety.
  .gallery
    %img.small{src: 'images/gallery1.jpg'}
    %img.small{src: 'images/gallery2.jpg'}
    %img.small{src: 'images/gallery3.jpg'}