%h1
  %img{:alt => "links", :src => "../images/links.jpg"}/
%h1.style1  Links to Pediatric Information
%blockquote
  %img{src: "images/em.jpg", class: 'right-img'}
  %table{:align => "left", :border => "0", :width => "552"}
    %tr
      %td{:width => "57%"} American   Academy of Pediatrics  (AAP):
      %td{:width => "43%"}
        %a{:href => "http://www.aap.org/", :target => "_blank"} www.aap.org
    %tr
      %td Center for Disease Control (CDC):
      %td
        %a{:href => "http://www.cdc.gov/", :target => "_blank"} www.cdc.gov
    %tr
      %td Indiana  Poison Control:
      %td
        %a{:href => "http://www.fasthealth.com/poison/in.php", :target => "_blank"} www.fasthealth.com/poison/in.php
    %tr
      %td Riley Hospital for Children:
      %td
        %a{:href => "http://www.iuhealth.org/riley", :target => "_blank"} www.iuhealth.org/riley
    %tr
      %td Peyton Manning Children's Hospital:
      %td
        %a{:href => "http://www.peytonmanning.stvincent.org", :target => "_blank"} www.peytonmanning.stvincent.org
  .clear
  %p  
%p  
%p{:align => "center"}  
%p{:align => "center"}  