%h1
  %img{:alt => "Office Location", :src => "images/location.jpg"}/
%p.leftBar
  %a{:href => "index.html"}
    %img{:alt => "office mission button", :border => "0", :height => "36", :src => "images/mission.gif", :width => "144"}/
  %a{:href => "hours.html"}
    %img{:alt => "office hours button", :border => "0", :height => "34", :src => "images/hours.gif", :width => "144"}/
  %a{:href => "location.html"}
    %img{:alt => "", :border => "0", :height => "34", :src => "images/location.gif", :width => "143"}/
%blockquote
  %img{src: "images/shot.jpg", class: 'right-img'}
  %p Step By Step Pediatrics is located at 6920 Parkdale Place, suite #109, Indianapolis, IN 46254. We are conveniently located in Bldg I of the Eagle Highlands Methodist Medical Plaza on Eagle Highlands Parkway just northwest of 465 & 38th St on the west side of suburban Indianapolis and Speedway.
  %p We are easily accessed:
  %ul
    %li From the North via 65S & 465S to west 38th Street then north on Eagle Creek Parkway
    %li From the West via 70, 40, or 36 to 465N then west on 38th Street to Eagle Creek Parkway
    %li From the West via Crawfordsville Rd, 10th Street, or 56th Street to Dandy Trail then east to Eagle Creek Parkway
    %li From the South via 65N to 465N to west 38th Street then north on Eagle Creek Parkway
  %p.space-left The medical complex offers adjacent lab, x-ray, &  outpatient medical facilities & services.
  %p.space-left
    %a{:href => "map.html"}
      %strong
        %em Click Here To See a Map and Directions
  %h2.space-left Our medical office is worth your drive!
  .gallery.space-left
    %img.small{src: 'images/gallery1.jpg'}
    %img.small{src: 'images/gallery2.jpg'}
    %img.small{src: 'images/gallery3.jpg'}