%br/
%br/
%iframe{:frameborder => "0", :height => "500", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=6920+Parkdale+Place+Indianapolis,+IN&sll=39.774192,-86.112514&sspn=0.010835,0.018733&ie=UTF8&om=1&s=AARTsJoJYGzLHyJJEYx0BuX0uANjfPqPXw&ll=39.830456,-86.279883&spn=0.015819,0.027466&z=15&iwloc=addr&output=embed", :width => "980"}
%br/
%small
  %a{:href => "http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=6920+Parkdale+Place+Indianapolis,+IN&sll=39.774192,-86.112514&sspn=0.010835,0.018733&ie=UTF8&om=1&ll=39.830456,-86.279883&spn=0.015819,0.027466&z=15&iwloc=addr&source=embed", :style => "color:#0000FF;text-align:left"} View Larger Map and Get Directions