%img{:alt => "New Patients", :src => "../images/newPatients.jpg"}/
%br/
%h1{:style => "margin-left: 5px;"} New Patient Information
%blockquote
  %p.style1 Welcome to Step By Step Pediatrics!
  %p{:align => "left"}
    %img{:alt => "new patients", :height => "150", :src => "../images/newpatient.jpg", :style => "float: right;", :width => "267"}>/
    We’re glad that you are  interested in becoming a new patient at our office. We have attempted to make  your transition to our office as efficient and as medically smooth as possible.
  %ul
    %li Please call our office at 317-328-6800 to speak  with one of our pediatric nurses to initiate New Patient information.
  %ul
    %li Our nurses will review your child/children’s  names, ages, a short health history, and your health insurance plan with you  during that phone call.
  %ul
    %li Our office staff will then mail you a New  Patient Packet which includes a Registration Form and a Record Release for each  child.
  %ul
    %li After you receive the New Patient packet in the  mail, please sign the Record Release for each child and forward it to the  previous pediatrician or physician to release all of the medical records  (especially the immunization dates) to SBS Pediatrics.
  %ul
    %li Complete the Registration for each child. Mail  the form/forms along with a copy of each child’s individual health insurance  card to our office. You may personally deliver this information to our office  if you wish.
  %ul
    %li Once we receive the completed Registration form,  our scheduling staff will assemble a medical chart for each new patient and  call you to schedule your child’s/children’s first checkup at SBS Pediatrics.
  %ul
    %li To assure medical continuity for each new  patient at Step By Step Pediatrics, we request that all completed paper work  and previous medical records be returned to our office prior to the first  appointment.
  %ul
    %li We look forward to meeting you and working with  your child/children/adolescents.
  .gallery
    %img{src: 'images/gallery7.jpg'}
    %img{src: 'images/gallery8.jpg'}
    %img{src: 'images/fishtank.jpg'}