%br/
%br/
%img{:alt => "doctors", :src => "/images/santosBio.jpg"}/
%blockquote
  %table{:border => "0", :width => "100%"}
    %tr
      %td{:style => "text-align: center; padding-left: 20px;"}
        %a.style2{:href => "stump.html"} Dr. Anne J. Stump
      %td{:style => "text-align: center; padding-left: 40px;"}
        %a.style2{:href => "santos.html"} Dr. Krista Santos
      %td{:style => "text-align: center;"}
        %a.style2{:href => "collings.html"} Dr. Chrissa Collings
  %p
    %span.style1 Dr. Santos' Bio:
  %p I was born here in Indianapolis, but my family soon moved to Crawfordsville, Indiana, which I consider to be my hometown.  I graduated from Crawfordsville High School and moved on to Indiana University.  There, I joined Kappa Alpha Theta sorority, and graduated with highest distinction with a major in biology and a minor in Spanish.  Following undergrad, I moved to Indianapolis to attend the Indiana University School of Medicine.  After commencement, I moved to Columbus, Ohio, and completed my pediatrics residency at Columbus Children’s Hospital.  After finishing residency, I came back to Indianapolis and joined Drs. Stump and Collings at Step By Step Pediatrics.  That fall, I passed the pediatric board exams and settled into the practice.
  %p I met my husband Joe during my third year of medical school when he was one of the interns on my internal medicine rotation.  We began dating shortly thereafter.  He moved to Columbus one year after I did to complete a fellowship in nephrology at Ohio State.  We were married in 2005 (the year we also finished our training and moved back to Indianapolis to start our new jobs – what a summer!).  He now practices primarily out of St. Francis and Methodist Hospitals.
  In June 2007, Joe and I welcomed our first child – a daughter named Louisa Lynn.  With her arrival, our pastimes changed from traveling, listening to live music, running, and attending sporting events to changing diapers, doing laundry, and marveling at every tiny, perfect feature and every new expression or discovery she makes.  Our lives have changed completely in the past few years, and we wouldn’t have it any other way.
  %br/
  %br/
  Louisa quickly outgrew out trendy downtown condo, so we moved to the suburbs in 2008. Despite the "surprises" out new home held for us, and despite Louisa's "strong will," we are truly enjoying this new phase of our lives. I am amazed by my daughter every day, and I feel very lucky that I am able to share in my patients' new stories and achievements, too.
%p  