%br/
%br/
%img{:alt => "doctors", :src => "/images/stumpBio.jpg"}/
%blockquote
  %table{:border => "0", :width => "100%"}
    %tr
      %td{:style => "text-align: center; padding-left: 20px;"}
        %a.style2{:href => "stump.html"} Dr. Anne J. Stump
      %td{:style => "text-align: center; padding-left: 40px;"}
        %a.style2{:href => "santos.html"} Dr. Krista Santos
      %td{:style => "text-align: center;"}
        %a.style2{:href => "collings.html"} Dr. Chrissa Collings
  %p
    %span.style1 Dr. Stump's Bio:
  %p The oldest of 5 children, I “borrowed” my brother’s doctor kit and proclaimed “I’ll be the doctor, you be the patient!” My childhood included 4-H, library books, helping with the garden, and attempting piano lessons. I quickly learned “I don’t do Bs, I only do As”. Elected into Phi Beta Kappa, I was salutatorian of North Side High School in Ft Wayne. I attended IPFW, transferred to IU Bloomington and graduated with highest distinction in biology. Next came 4 years at IU School of Medicine where I was attracted to pediatrics and earned my MD degree. I completed my 3-year residency as Chief Resident of Pediatrics at Methodist Hospital. My next goal was passing the board exams to become a Fellow of the American Academy of Pediatrics (FAAP). This achievement prepared me to practice “the art of medicine” to the best of my ability with pediatric patients.
  %p I met my husband Norman at church and we often catered wedding receptions while dating. He taught elementary school while I continued “hitting the books” until he decided to tackle dental school. Despite developing his own private dental practice as a DDS, he has always been my sounding board, my “Mr Fix It”, the chef of the Stump household, the picture hanger at SBS, and even our office computer technician!
  %p David entered our lives as a humming bundle of joy. He was a perfect baby and I always told him “I love you just the age you are!” Daddy and David often made weekend and holiday hospital rounds with me. He spent afternoons at the office, entertained patients, and made friends with everyone. Through the years, David has taught me to joke, made sure we had 2 cats instead of 1, and gotten me “hooked on Disney”. He attended Butler University where we enjoyed his drumming in the marching and basketball bands. After graduating in electronic media, he married Gwyn and now lives in Dayton---with their 2 kittens!
  %p My free time activities include weeding our lot just to contact poison ivy,  cheering at every Butler basketball game possible, attending pediatric continuing education meetings (my favorite is Stanford) then adding on a few days for vacation with my husband, and scrap booking. And of course, I enjoy talking with patients and parents when we meet outside the office setting and attending their graduation parties and weddings. I truly feel like I am blessed to “have it all”!
%p  